html {
    font-size: 10px;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
}

.bg {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: -5;
}

.active {
    background-color: #BF532C;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
}


// Nav her 

#nav {
    width: 100%;
    padding: 1rem;
    ul {
        display: flex;
        width: 60rem;
        justify-content: space-around;
        list-style: none;
        margin-top: 1rem;
        li {
            border-radius: 0.5rem;
            padding: 1rem 2rem;
            margin: 0 1rem;
            transition: all ease 500ms;
            cursor: pointer;

            span {
                color: #fff;
                text-decoration: none;
                font-size: 3.4rem;
                font-weight: 700;
            }

            &:hover {
                background-color: #fff;

                span {
                    color: #000;
                }
            }

            &:active {
                background-color: #BF532C;

                span {
                    color: #fff;
                }
            }
        }
    }

}

#contact {
    font-size: 3.4rem;
    padding: 1rem 2rem;
    padding-right: 4rem;
    border-radius: 1rem 0rem 0rem 0rem;
    border: none;
    background-color: #BF532C;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: -10;
    cursor: pointer;
}

#modal {
    width: 60vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    border: #fff 1rem solid;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    .close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        z-index: 5;
    }

    #Beyond {
        width: 60vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "ai at";
        position: relative;

    .modal-image {
        width: 100%;
        height: 100%;
        grid-area: ai;
        vertical-align: middle;
        overflow: hidden;
    }

    img {
        height: 100%;
        width: auto;
        object-fit: contain;
        vertical-align: middle;
    }

    .modal-text {
        color: #fff;
        padding: 3rem;
        grid-area: at;
        overflow-y: auto;

        .text {
            margin-top: 2rem;
        }

        h2 {
            color: #BF532C;
            font-size: 4rem;
        }

        h3 {
            color: #FADC5B;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        li {
            list-style: none;
        }
    }
    }
        
}


#form-container {
  width: 80rem;
  height: 60rem;
  background-color: rgba(81, 133, 163, 0.829);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: 1px #fff dashed;
  box-shadow: #131316 1px 1px 10rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  z-index: 5;
  
  .form-title {
      font-weight: 600;
      font-size: 2rem;
      align-self: center;
      justify-self: center;
    }
    
    .form-label {
        display: inherit;
        flex-direction: column;
    }
    
    .form-input, .form-comment {
        border: 1px solid #131316;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        margin: 2rem 0;
    }
    
    .form-comment {
        height: 20rem;
    }
    
    .luk {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .button {
        font-size: 2rem;
        padding: 1rem 2rem;
        font-family: monospace;
        border: none;
        border-radius: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #fff;
    }
}

.login-container {
    background-color: rgb(81, 133, 163);
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #fff;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login-field {
        display: flex;
        flex-direction: inherit;

        input {
            padding: 0.5rem 1rem;
            margin-top: 0.5rem;
            background-color: transparent;
            border: 1px dashed #fff;
            border-radius: 1rem;
        }
    }

    .login-btn {
        width: 10rem;
        padding: 1rem 2rem;
        margin-top: 1rem;
        background-color: transparent;
        color: #fff;
        border: 1px dashed #fff;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: black;
        }

    }

    #feedback {
        visibility: hidden;
    }
}

.header {
    background-color: rgb(81, 133, 163);
    display: flex;

    .navbar {
        display: flex;
        padding: 1rem;
        width: 100%;
        justify-content: space-between;

        align-items: center;
    }

    .user {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .signout-btn {
        margin-top: 1rem;
        padding: 1rem 2rem;
        background-color: transparent;
        border: dashed white 1px;
        color: white;
        border-radius: 1rem;
        font-weight: 600;
    }
}

.dashboard {
    display: flex;
    justify-content: start;

    .dashboard-content {
        display: flex;

        .content-title {
            font-size: 3rem;
            text-align: center;
            margin-top: 2rem;
        }

        section {
            background-color: rgb(81, 133, 163);
            margin-top: 1rem;
            border-radius: 1rem;
            padding: 1rem;
            border: 1px dashed white;
        }

    }

    .content-btn {
        display: inline-block;
        margin: 1rem;
        cursor: pointer;
    }
}

.crud-container {
    width: 30vw;
    height: 30vh;
    background-color: rgb(81, 133, 163);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 1px dashed white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
    .crud-title {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .close {
            position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        z-index: 5;
    }

    .crud-input {
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px dashed white;
        border-radius: 1rem;
        color: #fff;
        font-size: 2rem;
    }

    .crud-label {
        font-size: 2rem;
        display: none;
        margin-bottom: 1rem;
    }

    .crud-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .crud-btn {
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px dashed white;
        border-radius: 1rem;
        color: #fff;
        font-size: 2rem;
        margin-top: 1rem;
    }
}

#video {
    height: auto;
    width: 100%;
    vertical-align: middle;
}

.modal-closed {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-85%, -120%);
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;

    .two {
        margin-left: 6rem;
    }

    span {
        font-size: 8rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 600px) {
    .bg, .modal-closed {
        display: none;
    }

    body {
        min-height: 100vh;
    }



#nav {
    width: 100%;
    ul {
        width: inherit;
        li {

            span {
                color: #fff;
                text-decoration: none;
                font-size: 2.5rem;
                font-weight: 700;
            }
            }
        }
    }

#contact {
    font-size: 2.5rem;
    padding-right: 3rem;
}

#modal {
    width: 100vw;
    height: 85vh;
    border: none;
    border-radius: 0;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);

    #Beyond {
        width: 100vw;
        height: 85vh;
        display: flex;

    .modal-image {
        display: none;
    }
    
    }
        
}

#form-container {
  width: 80vw;
}


.login-container {
    background-color: rgb(81, 133, 163);
    width: 80vw;
    height: 25vh;
}

.crud-container {
    width: 80vw;
}




}
